
# PlanAhead Generated physical constraints 

NET "clk" LOC = C9;
NET "ledpin" LOC = F12;

# PlanAhead Generated IO constraints 

NET "ledpin" IOSTANDARD = LVTTL;
NET "ledpin" DRIVE = 8;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;